@import "bootstrap/scss/bootstrap";

// Define custom colors
$custom-colors: (
  "primary": #2C295C,
  "secondary": #134B70,
  "info": #508C9B,
  "dark": #EEEEEE
);

// Merge custom colors with Bootstrap's theme colors
$theme-colors: map-merge(
  $theme-colors,
  $custom-colors
);

// Enable utilities for the new colors
$utilities: (
  "colors": (
    property: color,
    class: text,
    values: $theme-colors
  ),
  "background-colors": (
    property: background-color,
    class: bg,
    values: $theme-colors
  )
);

// Import Bootstrap SCSS
@import "bootstrap/scss/bootstrap";

body::-webkit-scrollbar-track
{
	background-color: map-get($custom-colors, "primary");
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: map-get($custom-colors, "primary");
}

body::-webkit-scrollbar-thumb
{
	background-color: map-get($custom-colors, "dark");
}

// Custom rules

// HTML

html {
  background-color: map-get($custom-colors, "primary");
}

// [Map]

.map {
  height: 56vh;
}

@include media-breakpoint-up(md) {
  .map {
    height: 90vh;
  }
}