version: "3.3"

services:
  # Mosquitto
  mqtt:
    image: eclipse-mosquitto
    container_name: mqtt
    restart: unless-stopped
    ports:
      - "1883:1883"
    volumes:
      - ./volumes/mosquitto:/etc/mosquitto
      - ./config/mosquitto/passwd:/etc/mosquitto/passwd
      - ./config/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
    networks:
      - internal

  # Database
  database:
    image: timescale/timescaledb:latest-pg15
    container_name: database
    restart: unless-stopped
    env_file: docker-compose.env
    volumes:
      - ./volumes/database:/var/lib/postgresql/data
    networks:
      - internal

  # Client
  client:
    build:
      context: client
      dockerfile: Dockerfile
    container_name: client
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file: docker-compose.env
    environment:
      - NUXT_PUBLIC_SERVER=http://server:4000
    depends_on:
      - server
    networks:
      - internal

  # Server
  server:
    build:
      context: server
      dockerfile: Dockerfile
    container_name: server
    restart: unless-stopped
    env_file: docker-compose.env
    depends_on:
      - mqtt
      - database
    networks:
      - internal
networks:
  internal:
