---
server:
  address: 'tcp://:9091'

log:
  level: 'debug'

identity_validation:
  reset_password:
    jwt_secret: <generated-jwt-token>
    jwt_lifespan: '15m'
    jwt_algorithm: 'HS256'

authentication_backend:
  file:
    path: '/config/users_database.yml'

access_control:
  default_policy: 'deny'
  rules:
    # Public MQTT
    - domain: <your-domain>
      resources:
        - '^/mqtt.*'
      policy: 'bypass'
    
    # Authelia UI (same domain)
    - domain: <your-domain>
      resources:
        - '^/authelia.*'
      policy: 'bypass'
    
    # Frontend UI
    - domain: <your-domain>
      resources:
        - '^/ui.*'
      policy: 'one_factor'
    
    # Backend API
    - domain: <your-domain>
      resources:
        - '^/api.*'
      policy: 'one_factor'

session:
  secret: <generated-session-token>
  cookies:
    - name: 'authelia_session'
      domain: <your-domain>
      authelia_url: 'https://<your-domain>/authelia'
      default_redirection_url: 'https://<your-domain>/ui'
      expiration: '1h'
      inactivity: '5m'

regulation:
  max_retries: 3
  find_time: '2m'
  ban_time: '5m'

storage:
  encryption_key: <generated-storage-token>
  local:
    path: '/config/db.sqlite3'

notifier:
  filesystem:
    filename: '/config/notification.txt'
